* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: 62.5%;

    --color01: #2F2F33;
    --color02: #06181C;
    --color03: #065E7C;
    --color04: #4A808C;
    --color05: #092D38;
    --color06: #F75A68;

    --colorWhite: #ffff;
    --colorGray: #7C7C8A;
    --colorBlack: #000;
}

body {
    font-family: 'Roboto', sans-serif;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: none;
}

#app {
    background-color: var(--colorBlack);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem 0;
}

header {
    width: 90%;
    max-width: 112rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: var(--colorWhite);
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: .3rem;
}

header h1 i {
    font-size: 1.2rem;
}

header div {
    display: flex;
    align-items: center;
    gap: .8rem;
    height: 100%;
}

header div input {
    width: 46.2rem;
    color: var(--colorGray);
    background-color: var(--color02);
    border: none;
    font-size: 1.6rem;
    padding: 1.6rem;
    border-radius: .5rem;
}

header div button {
    border: none;
    background-color: var(--color03);
    display: flex;
    align-items: center;
    gap: .8rem;
    padding: 1.3rem 3.2rem;
    color: var(--colorWhite);
    border-radius: .5rem;
    cursor: pointer;
}

header div button:hover {
    background-color: var(--colorWhite);
    color: var(--color03);
}

header div button i {
    font-size: 2.2rem;
}

header div button p {
    font-size: 1.4rem;
    font-weight: bold;
}

.table {
    width: 90%;
    max-width: 112rem;
    height: 68.8rem;
    border: solid .2rem var(--color04);
    margin: 8.7rem 0 0;
    border-radius: 1.2rem;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table thead th {
    padding: 1.6rem 4rem;
}

table td {
    padding: 2.4rem 4rem;
}

table thead tr th {
    color: var(--colorWhite);
    font-size: 1.8rem;
    background-color: var(--color05);
    text-align: left;
}

table tr:nth-child(even) {
    background-color: var(--color04);
}

table tr:nth-child(odd) {
    background-color: var(--colorBlack);
}

table .user {
    display: flex;
    gap: 1.6rem;
}

table .user img {
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 100%;
}

table .user a {
    color: var(--colorWhite);
    text-decoration: none;
}

table .user a span {
    font-size: 1.4rem;
}

table tbody td {
    color: var(--colorWhite);
    font-size: 1.8rem;
}

table tbody button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 1.8rem;
    color: var(--color06);
    font-weight: bold;
}

@media (max-width: 960px) {
    #app {
        padding: 6rem 1rem;
    }

    header {
        flex-direction: column;
        gap: 1rem;
        height: auto;
    }

    header div {
        /* flex-direction: column; */
        width: 100%;
        margin: 2rem 0;
    }

    header div input {
        width: 100%;
    }

    header div button {
        padding: 1.3rem;
    }

    .table {
        margin: 0;
        overflow: auto;
    }
}

@media (max-width: 720px) {
    header div button p {
        display: none;
    }
}